<div class="container mt-5">
    <div class="card p-4 shadow" style="border-top: 5px solid #2e7d32;">
      <h2 class="text-center mb-4 text-success">Admin Register</h2>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mb-3">
          <label>Name</label>
          <input class="form-control" formControlName="name" placeholder="Enter name" />
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input class="form-control" formControlName="email" placeholder="Enter email" />
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter password" />
        </div>
        <div class="mb-3">
          <label>Phone</label>
          <input class="form-control" formControlName="phone" placeholder="Enter phone number" />
        </div>
        <div class="mb-3">
          <label>Gender</label>
          <select class="form-select" formControlName="gender">
            <option value="" disabled selected>Select gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="company_Id" class="form-label">Company ID</label>
          <input id="company_Id" class="form-control" formControlName="company_Id" placeholder="Enter Company ID" required />
        </div>
        
  
        <button class="btn btn-success w-100" type="submit">Register</button>
      </form>
  
      <p class="text-center mt-3">
        <a [routerLink]="['/admin-login']" style="color: #1976d2;">Already Registered? Login</a>
      </p>
    </div>
  </div>
  