body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark-mode input,
  body.dark-mode select,
  body.dark-mode textarea {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444;
  }
  